{
  "printWidth": 120,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrder": [
    "",
    "^@angular/(.*)$",
    "",
    "^@ionic/(.*)$",
    "",
    "^@rxjs(.*)$",
    "",
    "^@env(.*)$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^[./]"
  ],
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "overrides": [
    {
      "files": [
        "*.page.html"
      ],
      "options": {
        "parser": "angular"
      }
    }
  ]
}
