<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> Todo List </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" color="primary">
    <ion-select
      label="Filtrar por categoría"
      placeholder="Filtrar por categoría"
      [ngModel]="selectedCategory()"
      (ngModelChange)="selectedCategory.set($event)"
    >
      <ion-select-option value="">Todas</ion-select-option>

      @for (category of categories(); track category) {
        <ion-select-option [value]="category">{{ category }}</ion-select-option>
      }
    </ion-select>
  </ion-item>

  <ion-list lines="full">
    @for (todo of filteredTodos(); track $index) {
      <ion-item-sliding>
        <ion-item>
          <ion-checkbox justify="space-between" alignment="start">{{ todo.title }}</ion-checkbox>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="danger" expandable="true">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/add-todo">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
