<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list lines="full" #categoriesList>
    @for (category of categories(); track $index) {
      <ion-item-sliding>
        <ion-item [button]="true">
          {{ category.name }}
        </ion-item>

        <ion-item-options slot="end">
          <ion-item-option (click)="goToEditCategory(category)" color="success">
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-item-option>

          <ion-item-option (click)="deleteCategory(category)" color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    }

    @if (categories().length === 0) {
      <ion-item>
        <ion-icon slot="start" name="sad-outline" color="primary"></ion-icon>

        Aun no tienes categorías.
      </ion-item>
    }
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/category-form/new">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
