<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Todo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <ion-input label="Todo Title" label-placement="floating" fill="solid" placeholder="Enter todo title"></ion-input>
  </form>

  <ion-button expand="block" class="ion-margin-top">
    <ion-icon slot="start" name="add-outline"></ion-icon>

    Add Todo
  </ion-button>
</ion-content>
