// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

.plt-android {
  --ion-safe-area-top: 0px;
  --ion-safe-area-bottom: 0px;
  --ion-safe-area-left: 0px;
  --ion-safe-area-right: 0px;
}
